---
import GlobalNavigationBar from "@/components/GlobalNavigationBar.astro";
import "@/styles/global.css";
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/src/scripts/toggle-theme.ts"></script>
  </head>
  <body class="bg-background max-w-3xl m-auto">
    <GlobalNavigationBar />
    <main>
      <slot />
    </main>
  </body>
</html>
